header {
    margin: 0px;
    padding: 0px;
    display: flex;
    direction: row;
    justify-content: space-between;
    background: mistyrose;
    align-items: center;
}

.contentArea {
    margin: 40px 100px 40px 100px;
    padding: 0px;
    display: block;

    background: lightblue;
}

@media screen and (max-width: 576px) {
    .contentArea {
        margin: 10px;
    }
}

footer {
    margin: 0px;
    padding: 0px;
    display: flex;
    background: lightgreen;
}

.nav_title {
    background: mistyrose;
    margin-left: 20px;
    display: flex;
    direction: row;
    align-items: center;
}

.site_title{
    margin-left: 10px;
    padding: 0px;
}

.site_logo{
    margin: 5px;
}

@media screen and (max-width: 576px) {
    .site_title {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .nav_center {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .nav_user {
        display: none;
    }
}

.nav_menus {
    background: palegreen;
    /* margin: 10px 0px 10px 0px; */
    padding: 0px;
    display: flex;
    direction: row;
}

.menu_item{
    background: sandybrown;
    margin: 0px 5px 0px 5px;
}

.menu_item__link {
    font-size: 1.4rem;
}

.nav_links {
    background: tan;
    margin-right: 20px;
    display: flex;
    direction: row;
}

.nav_icon{
    margin: 10px;
    font-size: 1.5rem;
}

.icon_tooltip{
    display: none;
}

.mobile_menu__icon{
    width: 3rem;
    height: 3rem;
    margin-right: 20px;
    display: none;
}

@media screen and (max-width: 576px) {
    .mobile_menu__icon {
        display: block;
        margin-right: 25px;
    }
}